@page
@inject Auth.AuthChecker auth
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(Model.UpcomingViewings.Length > 0)
{
    <div class="cover" style="background-image: linear-gradient(to bottom, #343a40, rgba(0,0,0,0), #fff), url('/images/@Model.UpcomingViewings[0].Movie.Image');">
        <div class="container pt-4">
            <h1 class="cover__title text-white display-3 font-weight-bold">@Model.UpcomingViewings[0].Movie.Title</h1>
            <p class="text-white">@Model.UpcomingViewings[0].Movie.Title</p>
            <p class="text-white">Start @Model.UpcomingViewings[0].Time</p>
            @if(auth) {
                <a class="btn btn-primary d-inline-flex align-items-center" href="/Viewings/Reserve?id=@Model.UpcomingViewings[0].Id">
                    Reserve a spot
                    <span class="material-icons ml-2">label_important</span>
                </a>
            }
        </div>
    </div>
}
<div class="mt-4 container-fluid">
    <div class="row px-4">
        <div class="col-md-5">
            <h1>Movie Reservation</h1>
            <p class="lead">
                @* TODO: replace with meaningfull text *@
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae magnam iusto similique quasi omnis. Sapiente id omnis corporis quae nisi dolores quidem odio accusantium nam.
            </p>
        </div>
        <div class="col-md-7">
            <img class="img-fluid rounded" src="/images/pathe.jpg" alt="Pathe">
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="container-fluid">
        <h2 class="h1 px-sm-4">Upcoming Movies</h2>
        <div class="row text-white px-4">
            @foreach (var viewing in Model.UpcomingViewings)
            {
                <div class="col-sm-6 col-lg-3 px-0 px-sm-2 mb-3 mb-lg-0">
                    <div class="card bg-dark p-0">
                        <img class="card-img-top" src="/images/@viewing.Movie.Image" alt="The martian cover" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">@viewing.Movie.Title</h3>
                            <p class="card-text">@viewing.Movie.Description</p>
                            <p>Start: @viewing.Time</p>
                            @if(auth) {
                                <a href="/Viewings/Reserve?id=@viewing.Id" class="btn btn-primary">Reserve a spot</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="ml-auto px-4 text-right mt-2">
            <a asp-page="movies/Index" class="btn btn-link">Zie alle films</a>
        </div>
    </div>
</div>

